<p class="title profile-title"><i>{{neighborhoodSerialized.neighborhood_name}}</i></p>
<p class="title profile-title">Average ratings: <i>{{neighborhoodSerialized.avgrank}}</i></p>

<div class="rows">
    {{#if isLoggedIn}}
    <section class="column">
        <div class="card column mt-5 has-background-success-light min-width-">
            <div class="card-content">

                <form class="addReview-form">
                    <label for="rating"><b>Your Rate for this Neighborhood:</b></label><br>
                    <div class="rating">
                        <span><input type="radio" name="rating" id="str5" value="5"><label for="str5">☆</label></span>
                        <span><input type="radio" name="rating" id="str4" value="4"><label for="str4">☆</label></span>
                        <span><input type="radio" name="rating" id="str3" value="3"><label for="str3">☆</label></span>
                        <span><input type="radio" name="rating" id="str2" value="2"><label for="str2">☆</label></span>
                        <span><input type="radio" name="rating" id="str1" value="1"><label for="str1">☆</label></span>
                    </div>

                    <div class="field">
                        <div class="control">
                            <input class="input" id="new-addReview" type="text" placeholder="New Review here">
                            <input id="neighborhood_id" name="neighborhood_id" type="hidden"
                                value="{{{neighborhoodSerialized.id}}}">
                        </div>
                    </div>

                    <div class="control">
                        <button class="button is-primary">Add Review</button>
                    </div>

                </form>
            </div>
        </div>
    </section>
    {{/if}}
    {{#each neighborhoodSerialized.reviews}}
    <section class="column">
        <div class="card column mt-5 has-background-success-light min-width-">
            <div class="card-content">
                <h2 class="content"><b>By {{this.user.username}}:</b> {{this.rating}} / 5</h2>
                <p><b>Review:</b> {{this.content}}</p>
                <p><b>Post time:</b> {{this.post_time}}</p>
            </div>
        </div>
    </section>
    {{/each}}

    {{#if isLoggedIn}}
    <script src="/js/addReview.js"></script>
    {{/if}}
</div>