<link rel="stylesheet" href="css/profilebtn.css" />
<h2 class='title profile-title'>Hello, <i class="profile-username">{{serializedU.username}}</i>!</h2>
<p class='title profile-title'>Activate your email at <i class="profile-username">{{serializedU.email}}</i></p>

<div class="columns">

  {{#each serializedU.reviews}}
  <section class="column">
    <div class="card column mt-5 has-background-success-light min-width-">
      <div class="card-content">
        <div class="title"><a href="neighborhood/{{{this.neighborhood_id}}}">{{this.neighborhood.neighborhood_name}}</a>
        </div>
        <h2 class="content"><b>Your rating:</b> {{this.rating}}<span class="icon">
            <i class="fas fa-star"></i>
          </span><span class="icon">
            <i class="fas fa-star"></i>
          </span>
        </h2>
        <p><b>Review:</b> {{this.content}}</p>
        <p><b>Post time:</b> {{this.post_time}}</p>
        <a href="/neighborhoods/"></a>
      </div>
    </div>
  </section>
  {{/each}}

  {{#if isLoggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}
</div>